<div class="container-fluid">
  <div class="row my-3">
      <div class="col-lg">
          <div class="card bg-light mb-3 ">
              <div class="card-header text-center"><b>{{ userData.name }}</b></div>
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <img src="{{ userData.avatarfull}}" class="rounded ">
                  </div>
                  <div class="col">
                    <img src="/assets/ranks/{{ userData.rank_tier }}.jpg" class="rounded">
                  </div>
                </div>
                  <hr>
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item">MMR - {{ userData.mmr}}</li>
                      <li class="list-group-item">Rank Tier - {{ userData.rank_tier}}</li>
                      <li class="list-group-item">Account Id - {{ userData.account_id}}</li>
                  </ul>
              </div>
            </div>
    </div>
    <div class="col-lg">
        <div class="card bg-light mb-3 ">
            <div class="card-header text-center"><b>Most Played Friends</b></div>
            <div class="card-body limit-height">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let peer of peerData" routerLink="/friendStats/{{userData.account_id}}/{{peer.account_id}}">
                        <span><img class="avatar-user" src="{{ peer.avatarfull}}"></span>
                      {{ peer.personaname }}
                      <span class="badge badge-primary badge-pill">{{peer.with_games}}</span>
                    </li>
                  </ul>
            </div>
          </div>
    </div>
    <div class="col-lg">
        <div class="card bg-light mb-3 ">
            <div class="card-header text-center"><b>Most Played Heroes</b></div>
            <div class="card-body limit-height">
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let heroes of heroesPlayedData" routerLink="/heroStats/{{userData.account_id}}/{{heroes.hero_id}}" >
                      <span><img class="avatar" src="/assets/heroes_img/{{ heroes.hero_id}}.jpg"></span>
                        <span>{{ heroes.hero_id | idHero }} </span> 
                        <span class="badge badge-primary badge-pill">{{heroes.games}}</span>
                    </li>
                  </ul>
            </div>
          </div>
  </div>
</div>
<div class="row">
  <div class="col-lg">
    <div class="card">
      <div class="card-header text-center"><b>Recent Matches</b></div>
      <div class="card-body">
          <app-match-details-table *ngIf='matchDetailsChild' [data]='matchDetailsChild' ></app-match-details-table>
      </div>
    </div>
  </div>
</div>
  
</div>