<div class="container-fluid">
  <div class="row my-3">
      <div class="col-lg">
          <div class="card bg-light mb-3 ">
              <div class="card-header text-center">{{ userData.name }}</div>
              <div class="card-body">
                  <img src="{{ userData.avatarfull}}" class="rounded mx-auto d-block">
                  <hr>
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item">MMR - {{ userData.mmr}}</li>
                      <li class="list-group-item">Rank Tier - {{ userData.rank_tier}}</li>
                      <li class="list-group-item">Account Id - {{ userData.account_id}}</li>
                  </ul>
              </div>
            </div>
    </div>
    <div class="col-lg">
        <div class="card bg-light mb-3 ">
            <div class="card-header text-center">Most Played Friends</div>
            <div class="card-body limit-height">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let peer of peerData" (click)="openDialog(peer.personaname, peer.avatarfull,peer.win,peer.games,userData.account_id,peer.account_id,0)">
                        <span><img class="avatar" src="{{ peer.avatarfull}}"></span>
                      {{ peer.personaname }}
                      <span class="badge badge-primary badge-pill">{{peer.with_games}}</span>
                    </li>
                  </ul>
            </div>
          </div>
    </div>
    <div class="col-lg">
        <div class="card bg-light mb-3 ">
            <div class="card-header text-center">Most Played Heroes</div>
            <div class="card-body limit-height">
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let heroes of heroesPlayedData" (click)="openDialog(heroes.hero_id,'/assets/heroes_img/'+heroes.hero_id+'.jpg',heroes.win,heroes.games,userData.account_id,heroes.hero_id,1)">
                      <span><img class="avatar" src="/assets/heroes_img/{{ heroes.hero_id}}.jpg"></span>
                        <span>{{ heroes.hero_id | idHero }} </span> 
                        <span class="badge badge-primary badge-pill">{{heroes.games}}</span>
                    </li>
                  </ul>
            </div>
          </div>
  </div>
</div>

  <div class="card">
      <div class="card-header text-center">Recent Matches</div>
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-hover table-striped">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Gametype</th>
                      <th scope="col">Win/Loss</th>
                      <th scope="col">K/D/A</th>
                      <th scope="col">GPM</th>
                      <th scope="col">XPM</th>
                      <th scope="col">Duration</th>
                      <th scope="col">Match-Id</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let recentMatches of extraMatchData" class="{{recentMatches.class}}" routerLink="/matchId/{{recentMatches.match_id}}">
                      <td><span><img class="avatar" src="/assets/heroes_img/{{ recentMatches.hero_id}}.jpg"></span><span class="px-2">{{ recentMatches.hero_id | idHero }} </span> </td>
                      <td>{{recentMatches.game_mode | gameType }}   </td>
                      <td>
                          <span *ngIf="recentMatches.win"><button mat-icon-button color="warn"><mat-icon>favorite</mat-icon></button></span>
                          <span *ngIf="!recentMatches.win"><button mat-icon-button ><mat-icon>sentiment_dissatisfied</mat-icon></button></span>
                        </td>
                      <td>{{recentMatches.kills }} / {{recentMatches.deaths }} / {{recentMatches.assists }}  </td>
                      <td>{{recentMatches.gold_per_min }}</td>
                      <td>{{recentMatches.xp_per_min }}</td>
                      <td>{{ recentMatches.duration | secondsTime }}  </td>
                      <td> {{ recentMatches.match_id }} </td>
                    </tr>
                  </tbody>
                </table>
            </div>
      </div>
    </div>
</div>