<div class="container-fluid">

    <div class="row">
      <div class="col-lg-4 col-sm-12  mt-2">
          <div class="card">
              <div class="card-body">
                  <div class="card">
                      <div class="card-body" *ngIf="userData.profile">
                        <h5 class="card-title  text-center"><span><img class="avatar-user  mx-auto d-block" src="{{ userData.profile.avatarfull }}"></span> {{userData.profile.personaname}}</h5>
                        <img src="/assets/ranks/{{ userData.rank_tier }}.jpg" class="rounded">
                      </div>
                    </div>
              </div>
            </div>
      </div>
      <div class="col-lg-4 col-sm-12  mt-2">
          <div class="card">
              <div class="card-body">
                <h5 class="card-title text-center">Hero Statistics</h5>
                <div style="display: block">
                    <canvas baseChart
                            [data]="doughnutChartData"
                            [labels]="doughnutChartLabels"
                            [chartType]="doughnutChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                  </div>
                  <h5 class="card-title  text-center">Total : {{heroData}}</h5>
              </div>
            </div>
      </div>
      <div class="col-lg-4 col-sm-12  mt-2">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title text-center">{{heroDOMID | idHero}}</h5>
                  <img src="/assets/heroes_img/{{ heroDOMID }}.jpg" class="rounded">
              </div>
            </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-lg-12 col-sm-12  mt-2">
    <div class="card">
      <div class="card-header text-center">Recent Matches</div>
          <div class="card-body">
              <div class="table-responsive fixed-height">
                  <table class="table table-hover table-striped table-bordered">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">Your Hero</th>
                          <th scope="col">K/D/A</th>
                          <th scope="col">Game Mode</th>
                          <th scope="col">Win/Lose</th>
                          <th scope="col">Duration</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr  *ngFor="let eachMatch of extraData" class="{{eachMatch.class}}" routerLink="/matchId/{{eachMatch.match_id}}">
                          <td><span><img class="avatar  mx-auto d-block" src="/assets/heroes_img/{{ eachMatch.hero_id}}.jpg"></span><span class="text-center"><h6>{{ eachMatch.hero_id | idHero }}</h6></span> </td>
                          <td>{{ eachMatch.kills }} / {{ eachMatch.deaths }} / {{ eachMatch.assists }}</td>
                          <td>{{ eachMatch.game_mode | gameType }}</td>
                          <td>
                              <span *ngIf="eachMatch.win"><button mat-icon-button color="warn"><mat-icon>favorite</mat-icon></button></span>
                              <span *ngIf="!eachMatch.win"><button mat-icon-button ><mat-icon>sentiment_dissatisfied</mat-icon></button></span>
                            </td>
                          <td>{{ eachMatch.duration | secondsTime }}</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
          </div>
    </div>
    </div>
  </div>
  
  </div>
  