<div class="container-fluid">
  <div class="row m-3">
    <div class="col-lg-6 col-sm-12 col-md-6">
        <div class="card">
            <mat-list-item role="listitem m-2">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <input matInput #message maxlength="256" placeholder="Enter Steam ID">
                    </mat-form-field>
                  </form>
            </mat-list-item>
        </div>
      </div>

    <div class="col-lg-6 col-sm-12 col-md-6">
    <div class="card">
        <mat-card class="top-cards">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Top Players</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-list>
                <mat-list-item>
                  <h3 matLine> Coming Soon !! </h3>
                  <mat-divider></mat-divider>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
  </div>
  </div>
  </div>

<div class="row m-3">
    <div class="col-lg-6 col-sm-12 col-md-6">
    <div class="card">
        <mat-card class="top-cards">
              <mat-card-content>
                  <mat-list-item role="listitem">
                      <form class="example-form">
                          <mat-form-field class="example-full-width">
                            <input matInput #message maxlength="256" placeholder="Search Players">
                          </mat-form-field>
                        </form>
                  </mat-list-item>
                  <mat-list>
                    <mat-list-item *ngFor="let user of allSteamData"  routerLink="/steamUser/{{user.profile.account_id}}">
                      <img matListAvatar src="{{ user.profile.avatarfull }}" >
                      <h3 matLine>{{ user.profile.personaname }}</h3>
                      <mat-divider></mat-divider>
                    </mat-list-item>
                  </mat-list>
                </mat-card-content>
            </mat-card>
    </div>
  </div>
  <div class="col-lg-6 col-sm-12 col-md-6">
    <div class="card">
        <mat-card class="top-cards">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Upcoming Events</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-list>
                <mat-list-item>
                  <h3 matLine> Coming Soon !! </h3>
                  <mat-divider></mat-divider>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
  </div>
</div>
</div>
</div>