/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '../src/assets/css/bootstrap.min.css';


.avatar{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

.avatar-user{
    vertical-align: middle;
    width: 50px;
    height: 50px;
  }

.avatar-item{
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 10%;
  }

  /* [ng-reflect-router-link] {
    cursor: pointer;
  }

  [ng-reflect-router-link]:hover {
    filter: brightness(85%);
  } */

  li , tr {
    cursor: pointer;
  }

  li:hover , tr:hover{
    filter: brightness(85%);
  }


  .limit-height{
      overflow-y: scroll;
      max-height: 400px;
      overflow-x: hidden;
  }

  .fixed-height{
      overflow-y:scroll;
      max-height:200px;
  }
  