<div class="container-fluid">

  <div class="row">
    <div class="col-lg-4 col-sm-12  mt-2">
        <div class="card">
            <div class="card-body" *ngIf="userData.profile">
              <h5 class="card-title  text-center"><span><img class="avatar-user  mx-auto d-block" src="{{ userData.profile.avatarfull }}"></span> {{userData.profile.personaname}}</h5>
              <img src="/assets/ranks/{{ userData.rank_tier }}.jpg" class="rounded">
            </div>
          </div>
    </div>
    <div class="col-lg-4 col-sm-12  mt-2">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">In-Game Statistics</h5>
              <div style="display: block">
                  <canvas baseChart
                          [data]="doughnutChartData"
                          [labels]="doughnutChartLabels"
                          [chartType]="doughnutChartType"
                          (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)"></canvas>
                </div>
                <h5 class="card-title  text-center">Total : {{totalGames}}</h5>
            </div>
          </div>
    </div>
    <div class="col-lg-4 col-sm-12  mt-2">
        <div class="card">
            <div class="card-body" *ngIf="friendData.profile">
              <h5 class="card-title  text-center"><span><img class="avatar-user  mx-auto d-block" src="{{ friendData.profile.avatarfull  }}"></span> {{friendData.profile.personaname}}</h5>
              <img src="/assets/ranks/{{ friendData.rank_tier }}.jpg" class="rounded">
            </div>
          </div>
    </div>
  </div>

  <div class="row">
      <div class="col-lg">
        <div class="card">
          <div class="card-header text-center"><b>Recent Matches</b></div>
          <div class="card-body">
              <app-match-details-table *ngIf='extraData' [isFriend]='isFriend' [data]='extraData' ></app-match-details-table>
          </div>
        </div>
      </div>
    </div>
</div>
